
{% extends 'index2.html' %}
{% load static  %}
{% block 'body' %}
<script>
    function hrefFunction(){
                window.location.href = 'Admin1';
            }
    </script >
<body >
<center>
    <span >
<div >

  <img src="{% static 'X.png' %}" class="rounded-4" alt="..."  height="400" widht="200">
  <div class="card-body">
      <br>
    <h5 class="card-title">ROOMS NOT AVAILABLE click on below button to room entry</h5>
      <br>
      <button class="btn btn-primary" type="button" onclick="hrefFunction()" >Add a Room</button>
  </div>
</div>
        </span>
</center>

</body>

<style>






</style>

{% endblock %}