{% extends 'index3.html' %}
{% load static  %}
{% block 'body' %}
<script>
    function hrefFunction(){
    console.log("kamal")
                window.location.href = 'user0';
            }
    </script >
<body >
<center>
    <span >
<div >

  <img src="{% static 'X.png' %}" class="rounded-4" alt="..."  height="400" widht="200">
  <div class="card-body">
      <br>
    <h5 class="card-title">NO ROOMS AVAILABLE IN THIS HOTEL CLICK BELOW AND CHECK WITH ANOTHER HOTEL</h5>
      <br>
      <button class="btn btn-primary" type="button" onclick="hrefFunction()" >VIEW HOTELS</button>
  </div>
</div>
        </span>
</center>
</body>

{% endblock %}